{% extends 'base.html.twig' %}

{# nom de l'onglet #}
{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="textIntro">
        {% if app.user %}
        <h2 class="home-title">Bienvenue sur le site {{ app.user.pseudonyme }} !</h2>
        {% else %}
        <h2 class="home-title">Bienvenue sur le site !</h2>
        {% endif %}
        <p>Toutes les annonces postées sur les animaux perdus ou retrouvés.</p>
    </div>

    <div class="draft">
        {% for annonce in annonces %}

            {# carte #}
            <div class="annonceCard">
                    {# lien au détail #}
                <a class="annonceCardLink" href="{{ path ('annonce_show', {'id': annonce.id})}}">
                    <div>
                        {# statut de l'annonce #}
                                {% if annonce.category == 'perdu' %}
                        <p class="iconCard" style="background-color:#8B2635 ">
                            PERDU
                        </p>
                        {% elseif annonce.category == 'trouvé' %}
                        <p class="iconCard" style="background-color:green ">
                            TROUVE
                        </p>
                        {% endif %}
                    </div>

                    <h2>
                        {# nom de l'espece #}
                        {% if annonce.espece == 'chat' %}
                            <i class="fa-solid fa-cat"></i>
                        {% elseif annonce.espece == 'chien' %}
                            <i class="fa-solid fa-dog"></i>
                        {% endif %}

                        {{ annonce.nomAnimal|upper }} 

                        {% if annonce.sexeAnimal == 'Mâle' %}
                            <i class="fa-solid fa-mars male"></i>
                        {% elseif annonce.sexeAnimal == 'Femelle' %}
                            <i class="fa-solid fa-venus femelle"></i>
                        {% endif %}
                    </h2>

                    <div class="descriptionCard">
                        {# liste des images #}
                        {% for image in annonce.images %}
                            <div>
                                <img class="imgCard" src="{{ asset ('/uploads/' ~ image.name) }}" alt="Image">
                            </div>
                        {% endfor %}
                        <div>
                            <p> {{ annonce.ville|upper }}</p>
                            <br>
                            {% if annonce.ageAnimal == '1' %}
                                <p>Âge : {{ annonce.ageAnimal }} an</p>
                            {% else %}
                                <p>Âge : {{ annonce.ageAnimal }} ans</p>
                            {% endif %}
                            <br>
                            <p>Posté le: {{ annonce.dateCreation|date("d/m/Y") }}</p>
                        </div>
                    </div>
                </a>

                {% if is_granted('ROLE_ADMIN') %}
                    <div class="divDelete">
                        <a class="btnDelete" href="{{ path('annonce_delete', {'id':annonce.id}) }}">SUPPRIMER</a>
                    </div>
                {% endif %}
            </div>


        {% endfor %}
    </div>

    <div>
        {{ knp_pagination_render(annonces) }}
    </div>
{% endblock %}
