{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="blocLogin">
        <h2>Inscription</h2>
    
        {{ form_start(registrationForm) }}
            <div class="formColumn">
                {{ form_label(registrationForm.email) }}
                {{ form_widget(registrationForm.email, {'attr': {'class': 'inputLogin'}}) }}
            </div>
            <div class="formColumn">
                {{ form_label(registrationForm.pseudonyme) }}
                {{ form_widget(registrationForm.pseudonyme, {'attr': {'class': 'inputLogin'}}) }}
            </div>
            <div class="formColumn">
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }} 
                {# {{ form_label(registrationForm.plainPassword) }}
                {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'inputLogin'}}) }}           #}
            </div>
            <div>
                <a class="linkLogin" href="{{ path('app_CGU') }}">
                    conditions d'utilisation
                </a>
                {{ form_widget(registrationForm.agreeTerms) }}
            </div>
    
        <button type="submit" class="btnLogin">s'enregistrer</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
