{% extends 'base.html.twig' %}

{% block title %}{{ annonce.nomAnimal|upper }}{% endblock %}

{% block body %}

    <div class="descriptif-annonce">

        <div class="header-description">

            {# liste des images #}
            {% for image in annonce.images %}
            <div class="img-container-descriptif">
                <img class="img-descriptif" src="{{ asset ('/uploads/' ~ image.name) }}" alt="Image">
            </div>
            {% endfor %}

            <div class="right-description">
                <div class="statut-descriptif">
                    {# statut de l'annonce #}
                    {% if annonce.category == 'perdu' %}
                        <p class="red-statut">Perdu</p>
                    {% elseif annonce.category == 'trouvé' %}
                        <p class="green-statut">Trouvé</p>
                    {% endif %}
                </div>

                <div class="animal-descriptif">
                    <h2>
                        {{ annonce.nomAnimal|upper }}
    
                        {# LOGO SEXE #}
                        {% if annonce.sexeAnimal == 'Mâle' %}
                            <i class="fa-solid fa-mars"></i>                
                        {% elseif annonce.sexeAnimal == 'Femelle' %}
                            <i class="fa-solid fa-venus"></i>                
                        {% endif %} 
                    </h2>
    
                    {# INFORMATIONS ANIMAL #}
                    <table class="table-descriptif">
                        <thead>
                            <tr>
                                <th>Age</th>
                                <th>Pucé</th>
                                <th>Tatoué</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ annonce.ageAnimal }}</td>
                                <td>{{ annonce.puce }}</td>
                                <td>{{ annonce.tatoue }}</td>
                            </tr>
                        </tbody>
                    </table>
    
                    {# DESCRIPTIF VISUELLE #}
                    <table class="table-descriptif">
                        <thead>
                            <tr>
                                <th>Taille de poil</th>
                                <th>Couleur de poil</th>
                                <th>Dessin de poil</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ annonce.taillePoil }}</td>
                                <td>{{ annonce.couleurPoil|join(', ') }}</td>
                                <td>{{ annonce.dessinPoil }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                {# PROPRIETAIRE #}
                <div class="propriétaire-descriptif">
                    <div>
                        <h3>Propriétaire de l'annonce</h3>
                        <p>{{ annonce.prenomProprietaire }} {{ annonce.nomProprietaire|upper }}</p>
                        <div>
                            <p>Adresse mail : {{ annonce.adresseMail }}</p>
                            <p>Téléphone : {{ annonce.telephone }}</p>
                        </div>
                    </div>
            
                    <div>
                        <p>{{ annonce.adresse }}</p>
                        <p>{{ annonce.codePostal }}, {{ annonce.ville|upper }}</p>
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </div>
              

        <div>
            <h3>Description</h3>
            <p>{{ annonce.description }}</p>
        </div>

        {% if is_granted('ROLE_ADMIN') %}
            <div>
                <a href="{{ path('annonce_edit', {'id':annonce.id}) }}">EDITER</a>
                <a href="{{ path('annonce_delete', {'id':annonce.id}) }}" onclick="return confirm('Etes-vous sûr de vouloir supprimer cette annonce ?')">SUPPRIMER</a>
            </div>
        {% endif %}
        
        <hr>
        {# SECTION COMMENTAIRES #}
    
        <div>
            {% if annonce.messages|length == 0 %}
                <h2>{{annonce.messages| length}} Commentaire</h2>
                <p>Aucun commentaire pour le moment.</p>
            {% elseif annonce.messages|length == 1 %}
                <h2>{{annonce.messages| length}} commentaire</h2>
            {% else %}
                <h2>{{annonce.messages| length}} commentaires</h2>
            {% endif %}

                    {% for commentaire in annonce.messages %}
                        <div>
                            <h3>{{ commentaire.membre.pseudonyme }} ({{ commentaire.dateMessage|date('d/m/Y H:i') }})</h3>
                            <p>
                                {{ commentaire.message }}
                            </p>
                            <div>
                                {% if is_granted('ROLE_USER') and commentaire.membre == app.user %}
                                    <a href="{{ path('message_edit', {'id': annonce.id, 'idMessage': commentaire.id}) }}">Modifier</a>
                                {% endif %}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path ('message_delete', { 'id':annonce.id , 'idMessage':commentaire.id }) }}">supprimer</a>                                
                                {% endif %}
                            </div>  
                        </div>
                    {% endfor %}
    
            {# ajout de commentaires #}
            {% if app.user %}
                        {% if edit %}
                            <h2>Modifier un commentaire</h2>
                        {% else %} 
                            <h2>Ajouter un commentaire</h2>  
                        {% endif %}
        
                {{ form_start(form) }}
                    {{ form_row(form.message) }}
                    {{ form_row(form.submit) }}
                {{ form_end(form) }}
                
            {% endif %}
        </div>
    </div>
    

    {# 
        {{ dump(annonce) }}
        {{ dump(datageo[0].lat) }}
        {{ dump(datageo[0].lon) }} 
    #}

    <script>
        {% if datageo|length > 0 %}
            var map = L.map("map").setView([{{datageo[0].lat}},{{datageo[0].lon}}],16);
        
            var circle = L.circle([{{datageo[0].lat}},{{datageo[0].lon}}], {
                color: 'red',
                fillColor: '#f03',
                fillOpacity: 0.5,
                radius: 200
            }).addTo(map);
        {% else %}
            <style>
                #map {display: none;}
            </style>
        {% endif %}

        var tiles = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          maxZoom: 19,
          attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors'
        }).addTo(map);
      
        // create the geocoding control and add it to the map
        var searchControl = L.esri.Geocoding.geosearch({
          providers: [
            L.esri.Geocoding.arcgisOnlineProvider({
              // API Key to be passed to the ArcGIS Online Geocoding Service
              apikey: 'AAPKafe3fa5eb95645109418ee63e738dc71Zt0IMTN4c9NXwxJL0--jPKOIrZ-Yz36X5AUbT-PMqN35AYp7CoL_1mGj5LHNTxVj'
            }),
            L.esri.Geocoding.mapServiceProvider({
              label: 'France',
              url: 'https://geocode.arcgis.com/arcgis/rest/services/World/GeocodeServer',
              countryCodes: ['FR'],
              searchExtent: L.latLngBounds(L.latLng(41.2415, -5.4753), L.latLng(51.0883, 9.5539))
            })
          ]
        }).addTo(map);
      
        // create an empty layer group to store the results and add it to the map
        var results = L.layerGroup().addTo(map);
      
        // listen for the results event and add every result to the map
        searchControl.on("results", function (data) {
          results.clearLayers();
          for (var i = data.results.length - 1; i >= 0; i--) {
            results.addLayer(L.marker(data.results[i].latlng));
          }
        });
      </script>
      

{% endblock %}