<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {# insertion du titre de chaque templates #}
        <title>{% block title %}{% endblock %}</title>
        {# icone dans l'onglet #}
        <link rel="icon" type="image/svg+xml" href="{{ asset('img/svg/logo.svg') }}" />
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {# lien vers la bibliothèque d'icones fontawesome #}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
            {# lien vers le dossier style #}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            {# SWIPER bundle #}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
            {# Leaflet bundle #}
            <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" crossorigin="" />
            <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" crossorigin=""></script>
            <!-- Load Esri Leaflet from CDN -->
            <script src="https://unpkg.com/esri-leaflet@3.0.10/dist/esri-leaflet.js"></script>
            <!-- Load Esri Leaflet Geocoder from CDN -->
            <link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@3.1.4/dist/esri-leaflet-geocoder.css" crossorigin="" />
            <script src="https://unpkg.com/esri-leaflet-geocoder@3.1.4/dist/esri-leaflet-geocoder.js" crossorigin=""></script>
        {% endblock %}
    </head>

    <body>
        <header>
            {# MENU AUTHENTIFICATION #}
            <div>
                <ul class="headerList MenuLog">
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="headerListLi">
                            <a class="navLink" href="{{ path ('app_admin') }}">Administrateur</a>
                        </li>
                    {% endif %}

                    {% if app.user %}
                        <li>
                            <a class="navLink" href="{{ path ('app_profil') }}">Mon profil</a> 
                        </li>

                        <li> 
                            <a class="navLink" href="{{ path ('app_logout') }}">Deconnexion</a>  
                        </li>
                    {% else %}
                        <li>
                            <a class="navLink" href="{{ path ('app_register') }}"> Inscription</a>
                        </li>

                        <li> 
                            <a class="navLink" href="{{ path ('app_login') }}">Connexion</a>
                        </li>
                    {% endif %}
                </ul>
            </div>

            <div class="slogan">
                <img id="logo" src="{{ asset ('img/logo.png') }}" alt="logo">
                <h1 class="title-site navLink">Found My Pet</h1>   
            </div>

            {# BARRE DE NAVIGATION #}
            <nav>
                <ul class="headerList">

                    <li>
                        <a class="navLink" href="{{ path ('app_home') }}">ACCUEIL</a>
                    </li>

                    <li>
                        <a class="navLink" href="{{ path ('app_recherche') }}">RECHERCHES</a>
                    </li>

                    {% if app.user %}
                        <li>
                            <a class="navLink"  href="{{ path ('app_annonce') }}">POSTER UNE ANNONCE</a>
                        </li>   
                    {% endif %}

                    <li>
                        <a class="navLink"  href="{{ path ('app_liens_utiles') }}">LIENS UTILES</a>
                    </li>
                </ul>
            </nav>
        </header>


        {% block body %}
        
        {% endblock %}

        <footer>
            <div class="footerBloc">
                <div>
                    <h2 class="footerTitle">Plan du site</h2>
                    <ul>
                        <li>
                            <a class="footerLink" href="{{path ('app_home')}}">Accueil</a>
                        </li>
    
                        <li>
                            <a class="footerLink" href="{{ path ('app_recherche') }}">Recherches</a>
                        </li>
    
                        {% if app.user %}
                        <li>
                            <a class="footerLink" href="{{path ('app_annonce')}}">Poster une annonce</a>
                        </li>
                        {% endif %}
    
                        <li>
                            <a class="footerLink" href="{{path ('app_liens_utiles')}}">Liens utiles</a>
                        </li>
                    </ul>
                </div>
                    <div>
                        <h2 class="footerTitle">FoundMyPet</h2>
                        <div class="footerLegal">
                            <a class="footerLink" href="{{ path('app_CGU') }}">Mentions légales</a>
                        </div>
                    </div>
            </div>
            <button onclick="topFunction()" id="scrollToTop" title="Go to top"><i class="fa-solid fa-arrow-up"></i></button> 

        </footer>
        {# lien avec le script du bouton "scrolltotop" #}
        <script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
        {# script SWIPER #}
        <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    </body>
</html>
