{% extends 'base.html.twig' %}

{% block title %}Rechercher une annonce{% endblock %}

{% block body %}

<div class="filterBloc">
        <h1 class="filterTitle">Recherche d'annonces</h1>

        {{ form_start(form) }}
            <div class="filterList">
                <div class="formColumn">
                    {{ form_label(form.espece) }}
                    {{ form_widget(form.espece) }}
                </div>
                <div class="formColumn">
                    {{ form_label(form.sexeAnimal) }}
                    {{ form_widget(form.sexeAnimal) }}
                </div>
                <div class="formColumn">
                    {{ form_label(form.nomAnimal) }}
                    {{ form_widget(form.nomAnimal) }}
                </div>
                <div class="formColumn">
                    {{ form_label(form.puce) }}
                    {{ form_widget(form.puce) }}
                </div>
                <div class="formColumn">
                    {{ form_label(form.tatoue) }}
                    {{ form_widget(form.tatoue) }}
                </div>
                <div class="formColumn">
                    {{ form_label(form.category) }}
                    {{ form_widget(form.category) }}
                </div>
                <div class="formColumn">
                    {{ form_label(form.ville) }}
                    {{ form_widget(form.ville) }}
                </div>
            </div>
            <div class="formLine">
                <div>
                    {{ form_row(form.rechercher) }}
                </div>
                <div>
                    {{ form_row(form.reset) }}
                </div> 
            </div>
        {{ form_end(form) }}
    </div>

        {% if annonces is not empty %}
            <h2 class="filterResultTitle">Résultats de la recherche :</h2>

               <div class="draft">
                    {% for annonce in annonces %}
                        {# carte #}
                            <div class="annonceCard">
                                {# lien au détail #}
                            <a class="annonceCardLink" href="{{ path ('annonce_show', {'id': annonce.id})}}">
                                <div>
                                    {# statut de l'annonce #}
                                            {% if annonce.category == 'perdu' %}
                                    <p class="iconCard" style="background-color:#8B2635 ">
                                        Perdu
                                    </p>
                                    {% elseif annonce.category == 'trouvé' %}
                                    <p class="iconCard" style="background-color:green ">
                                        Trouvé
                                    </p>
                                    {% endif %}
                                </div>

                                <h2>
                                    {# nom de l'espece #}
                                    {% if annonce.espece == 'chat' %}
                                        <i class="fa-solid fa-cat"></i>
                                    {% elseif annonce.espece == 'chien' %}
                                        <i class="fa-solid fa-dog"></i>
                                    {% endif %}

                                    {{ annonce.nomAnimal|upper }} 

                                    {% if annonce.sexeAnimal == 'Mâle' %}
                                        <i class="fa-solid fa-mars male"></i>
                                    {% elseif annonce.sexeAnimal == 'Femelle' %}
                                        <i class="fa-solid fa-venus femelle"></i>
                                    {% endif %}
                                </h2>

                                <div class="descriptionCard">
                                    {# liste des images #}
                                    {% for image in annonce.images %}
                                        <div>
                                            <img class="imgCard" src="{{ asset ('/uploads/' ~ image.name) }}" alt="Image">
                                        </div>
                                    {% endfor %}
                                    <div>
                                        <p> {{ annonce.ville|upper }}</p>
                                        <br>
                                        {% if annonce.ageAnimal == '1' %}
                                            <p>Âge : {{ annonce.ageAnimal }} an</p>
                                        {% else %}
                                            <p>Âge : {{ annonce.ageAnimal }} ans</p>
                                        {% endif %}
                                        <br>
                                        <p>Posté le: {{ annonce.dateCreation|date("d/m/Y") }}</p>
                                    </div>
                                </div>
                            </a>

                            {% if is_granted('ROLE_ADMIN') %}
                                <div class="divDelete">
                                    <a class="btnDelete" href="{{ path('annonce_delete', {'id':annonce.id}) }}">SUPPRIMER</a>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}

                    {# <div>
                        {{ knp_pagination_render(annonces) }}
                    </div> #}
                </div>

        {% else %}
        <h2 class="filterResultTitle">il n'y a pas de resultat</h2>
        {% endif %}
{% endblock %}
