{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}

    <div class="profil-bloc-align">

        <section class="profil-section">
            <div class="profil-text-bloc">
                <h2>Mon profil</h2>

                <div >
                    <h3>Pseudonyme</h3>
                    <p>{{ app.user.pseudonyme }}</p>

                    <h2>Modifier mon pseudonyme</h2>
                    {{ form_start(form) }}
                        {{ form_row(form.pseudonyme) }}
                        {{ form_row(form.submit) }}
                    {{ form_end(form) }}

                    <div class="profil-option">
                        {# modification mot de passe #}
                        <a href="{{ path ('app_reset_password_request') }}">modifier mon mot de passe</a>
                        {# suppression de compte #}
                        <a href="{{ path ('app_deleteUser', {'id':app.user.id}) }}" onclick="return confirm('Etes-vous sûr de vouloir supprimer votre compte ?')">Supprimer mon compte</a>
                    </div>
                </div>
            </div>
        
        </section>

        <section class="profil-section">
            <div class="profil-text-bloc">
                <h2>Mes annonces</h2>

                {% if annonces | length == 0 %}

                    <p>Vous n'avez pas d'annonces !</p>

                {% else %}

                    {% for annonce in annonces %}
                    <div class="icon-left">
                        <p>
                        {# nom de l'espece #}
                        {% if annonce.espece == 'chat' %}
                                <i class="fa-solid fa-cat"></i>
                        {% elseif annonce.espece == 'chien' %}
                                <i class="fa-solid fa-dog"></i>
                        {% endif %}
                            <a href="{{ path ('annonce_show', {'id': annonce.id}) }}">
                                {{ annonce.nomAnimal }}
                            {# LOGO SEXE #}
                                {% if annonce.sexeAnimal == 'Mâle' %}
                                    (<i class="fa-solid fa-mars male"></i>)                
                                {% elseif annonce.sexeAnimal == 'Femelle' %}
                                    (<i class="fa-solid fa-venus femelle"></i>)                
                                {% endif %}
                            </a>
                        </p>
                            <div>
                                <a href="{{ path ('annonce_edit', {'id':annonce.id}) }}">
                                    <i class="fa-solid fa-pen-to-square edit"></i>
                                </a>
                                <a href="{{ path ('annonce_delete', {'id':annonce.id}) }}" onclick="return confirm('Etes-vous sûr de vouloir supprimer cette annonce ?')">
                                    <i class="fa-solid fa-trash trash"></i>
                                </a>
                            </div>
                    </div>
                    {% endfor %}

                {% endif %}
            </div>

            <div class="profil-text-bloc">
                <h2>Mes annonces suivies</h2>
                <p>possibilité de mettre des annonces en favori</p>
            </div>
        </section>

    </div>
{% endblock %}